button.active{
        background-color: #63e0ff;
        border-color: rgb(39, 135, 245);
}

.book-filter{
    text-align: center;

    display: flex;
    flex-direction: column;

    >.btn-group{
        margin-block-start: 0.5em;

        display: flex;
        justify-content: space-around;
    }

    >p{
        margin-block-start: 0.5em;
        align-self: center;
    }
}