:root {
  --clr1: rgb(37, 152, 156);
  --clr2: rgb(120, 99, 110);

  --clr1bg: rgb(55, 184, 135);
  --clr1bg-light: rgb(221, 221, 200);

  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(255, 255, 255);

  --gray1: rgba(240, 240, 240, 0.61);
  --gray2: rgb(150, 150, 150);
  --gray3: rgb(44, 44, 44);
} 